<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}
    {% include "./partials/defaultCssFiles.html" %}

    <link rel="stylesheet preload" href="/styles/commands.css">
    <link rel="stylesheet preload" href="/styles/responsive.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        defer>
</head>

<body>
    {% include "./partials/header.html" %}

    <div class="commands">
        <h1>Veja alguns dos comandos da Lilly</h1>
        <p id="ps"><em>*No campo "<strong>como usar</strong>", tudo que tenha "<strong>?</strong>" significa que é
                opcional, ou seja, não é obrigatório ser passado como parâmetro. É <strong>extremamente
                    recomendado</strong> que você dê a Lilly permissão de <strong>Administrador</strong>. Certifique-se
                de usar o prefixo certo do servidor.</em></p>
        <span class="total_commands">
            <span>0</span> Comandos Disponíveis
        </span>
    </div>

    {% include "./partials/footer.html" %}

    <script src="/scripts/nav_control.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
        integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
        crossorigin="anonymous"></script>

    <script src="/scripts/listCommands.js"></script>
</body>