<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Termos de uso e comunidade da Lilly</title>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/communityTerms.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/animations.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header class="">
        <a href="/" id="logo">Lilly</a>
        <i class="fa fa-bars nav_open_button"></i>
        <nav>
            <a class="navigation" href="/"><i class="fa fa-home"></i> Home</a>
            <a class="navigation" href="/commands" rel="internal">&lt;/&gt; Comandos</a>
            <a class="navigation" rel="external follow" target="_blank" href="/support"><i class="fa fa-support"></i>
                Suporte</a>
            <a class="navigation" href="/invite" rel="external nofollow" target="_blank"><i class="fa fa-plus"></i> Me
                Adicione!</a>
        </nav>
    </header>
    <main>
        <h1>Termos de uso e comunidade da Lilly</h1>
        <section class="terms">
            <p>
                Para manter a Lilly <strong>livre para todo mundo</strong> regras precisam ser criadas, então aqui você
                vai encontrar
                <strong>regras, condições e orientações</strong> de como usar a Lilly e todos os seus serviços.
            </p>
            <p>
                Às regras devem ser seguidas juntamente com às <a href="https://discord.com/guidelines" target="_blank"
                    rel="noopener noreferrer">regras do Discord</a>, então, caso descumpra alguma regra do
                Discord também estará descumprindo uma regra da Lilly.
            </p>
            <p>
                Gostaria de avisar também que nós <strong>não monitoramos todos os usuários e servidores que a Lilly
                    está</strong>, então
                contamos com a participação de usuários, administradores, moderadores, donos de servidores, etc, para
                <strong>denunciarem</strong> pessoas usando a Lilly de maneira errada.
            </p>

            <h2>
                Ações que não serão toleradas:
            </h2>

            <p>
                Tentar <strong>derrubar e/ou inviabilizar</strong> o uso da Lilly com ataques ou spams.
            <ul>
                <li>
                    Ataques <em>DDoS's</em> são para pessoas que admitem que não são capazes de fazer algo melhor que o
                    outro.
                </li>
            </ul>
            </p>
            <p>
                Tentar ganhar vantagens na Lilly usando <strong>contas duplas, VPN's e /ou qualquer outra
                    técnica</strong> que possa te
                ajudar de alguma maneira.
            </p>
            <p>
                Tentar <strong>burlar punições</strong> aplicadas a você ou ao seu servidor.
            </p>
            <p>
                Tentar ou se passar pela Lilly.
            <ul>
                <li>
                    Não é permitido que <strong>usuários troquem seu nome e avatar igual ao da Lilly</strong> para se
                    passar por ela
                    <strong>mesmo sendo de brincadeira</strong>.
                </li>
                <li>Criar bots com mesmo nome e avatar da Lilly é <strong>extremamente proibido.</strong></li>
                <ul>
                    <li>Pode até se inspirar nela, mas copiar não vale né.</li>
                </ul>
                <li>Servidores que estarem usando bots que se passam pela Lilly <strong>
                        serão banidos até que mostrem os
                        responsáveis pela adição do bot.
                    </strong>
                </li>
            </ul>
            </p>
            <p>
                Usar o nome da Lilly para <strong>enganar pessoas</strong>.
            </p>
            <p>
                Tentar <strong>plagiar a Lilly</strong>. Embora a Lilly seja <em>Open-Source</em>, isso não significa
                que você pode simplesmente
                copiar seu código. Pode se inspirar nela, mas não faça igual.
            </p>
            <p>
                <strong>Compra e venda de DinDins e Halitas por dinheiro real ou produtos</strong>. Se te oferecerem não
                aceite, denuncie
                para nossa equipe para <strong>evitar golpes e também para não ser punido</strong>.
            <ul>
                <li>
                    Caso você tenha compro, você correrá um sério risco de <strong>perder todos os seus DinDins e
                        Halitas</strong> além
                    de poder ser banido.
                </li>
                <li>Se for pego vendendo, não haverá desculpas, você será <strong>banido permanente sem direito a
                        desbanimento</strong>.
                </li>
            </ul>
            </p>

            <p>
                Usar sistema de apostas da Lilly como cassino de <strong>dinheiro real</strong>.
            </p>
            <p>
                Usar a imagem da Lilly com <strong>propósito comercial</strong>.
            </p>
            <ul>
                <li>
                    Você até pode usar a Lilly em seu site, aplicativo, blog, entre outros, desde que para <strong>
                        fins não
                        comerciais.
                    </strong>
                </li>
                <li>Caso queira tratar desse assunto comigo <strong>entre em contato pelo Discord</strong>.</li>
            </ul>

            <p><strong>Enganar pessoas</strong> para obter vantagens na Lilly.</p>
            <ul>
                <li>Claro que se você enganar seu coleguinha você não será punido, mas se fizer isso com várias pessoas
                    repetidamente, ai sim você merece ser punido.</li>
            </ul>
            <p>
                <strong>Difamar, espalhar notícias falsas e criticar a Lilly.</strong>
            </p>
            <ul>
                <li>
                    <u>"Críticas construtivas"</u> são sempre bem-vindas e <strong>necessárias para a evolução da
                        Lilly</strong>. Mas criticas
                    que não ajudem na melhoria da Lilly não serão toleradas.
                </li>
                <li>
                    Espalhar <strong>notícias falsas sobre a Lilly</strong> não serão permitidas não importando o grau
                    delas.
                </li>
                <li>
                    Fazer <strong>posts, escrever matérias ou simplesmente escrevendo coisas maldosas sobre a
                        Lilly</strong> não serão
                    permitidas.
                </li>
            </ul>
            <p>
                <strong>Sexualizar a Lilly.</strong>
            </p>
            <ul>
                <li>
                    Fazer desenhos (<em>digitais ou não</em>) com a Lilly sexualizada é extremamente proibido.
                </li>
                <li>Apelidar a Lilly com nomes impróprios.</li>
                <li>
                    Usar a <strong>imagem da Lilly em vídeos, fotos, com conteúdo obsceno</strong> é extremamente
                    proibido e também um
                    pouco doentio.
                </li>
            </ul>
            <p>
                Usar comandos da Lilly com conteúdo que não seguem às <strong>regras da plataforma</strong>, como
                <em>NSFW</em> e discurso de
                ódio.
            </p>
            <ul>
                <li>Usar comandos para forçar a Lilly a dizer coisas erradas podem levar pode levar ao banimento.</li>
            </ul>

            <h2>Quais são às punições para o descumprimento das Regras</h2>
            <p>
                Ao descumprir qualquer uma das regras acima você e seu servidor correm o risco de levar às seguintes
                punições
            </p>
            <ul>
                <li><strong>Banimento da Lilly</strong>, ou seja, não poderá usar nenhum comando da Lilly mais.</li>
                <li>Banimento do <strong>servidor do suporte.</strong></li>
                <li>Banimento de todos os servidores que ativaram o <strong>banimento global da Lilly.</strong></li>
                <li><strong>Perde meu respeito!!</strong></li>
                <li>Pode ter sua conta da Lilly <strong>excluída permanente.</strong></li>
                <li>Ter sua conta <strong>totalmente zerada.</strong></li>
                <li>Apenas um aviso.</li>
            </ul>
            <p>
                Às punições podem ser retiradas com o decorrer das <strong>
                    investigações do seu caso ou você poderá pedir para a
                    equipe que tire
                </strong> (desde que tenha provas que cometemos um engano ou que não fez nada de errado).
                NÓS NÃO
                SOMOS OBRIGADOS A RETIRAR SUA PUNIÇÃO, SE FOR REJEITADO NÃO INSISTA!!
            </p>
            <p>
                Então espero que todos sigam às regras para que possamos criar uma comunidade incrível e cheia de
                <strong>
                    pessoas
                    responsáveis e decentes
                </strong>!!
            </p>
        </section>
    </main>
    <script src="/scripts/nav-controll.js"></script>
</body>

</html>
