<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}

    {% include "./partials/defaultCssFiles.html" %}
    <link rel="stylesheet preload" href="/styles/fanarts.css">
    <link rel="stylesheet preload" href="/styles/responsive.css">
    <link rel="stylesheet preload"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "./partials/header.html" %}

    <main>
        <section class="introduction">
            <h1>Veja algumas fanarts <strong>incríveis</strong> minhas feitas pelos meus fãs!</h1>
            <p>Caso você queira enviar uma fanart da Lilly basta entrar no <a href="/support" rel="external noreferrer"
                    target="_blank">servidor de suporte</a>.</p>
        </section>
        <section class="images">
            <img src="https://i.picsum.photos/id/521/1920/1080.jpg?hmac=GRgrDClWPeCZKiwP-VNl6o5ePyhcZe9bnRPX2UVp0mY" alt="">
            <img src="https://i.picsum.photos/id/521/1920/1080.jpg?hmac=GRgrDClWPeCZKiwP-VNl6o5ePyhcZe9bnRPX2UVp0mY" alt="">
            <img src="https://i.picsum.photos/id/521/1920/1080.jpg?hmac=GRgrDClWPeCZKiwP-VNl6o5ePyhcZe9bnRPX2UVp0mY" alt="">
            <img src="https://i.picsum.photos/id/521/1920/1080.jpg?hmac=GRgrDClWPeCZKiwP-VNl6o5ePyhcZe9bnRPX2UVp0mY" alt="">
            <img src="https://i.picsum.photos/id/521/1920/1080.jpg?hmac=GRgrDClWPeCZKiwP-VNl6o5ePyhcZe9bnRPX2UVp0mY" alt="">
            <img src="https://i.picsum.photos/id/521/1920/1080.jpg?hmac=GRgrDClWPeCZKiwP-VNl6o5ePyhcZe9bnRPX2UVp0mY" alt="">
        </section>
    </main>

    {% include "./partials/footer.html" %}
</body>

</html>