<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}
    {% include "./partials/defaultCssFiles.html" %}

    <link rel="stylesheet preload" as="style" href="/styles/main.css" defer>
    <link rel="stylesheet preload" as="style" href="/styles/responsive.css" defer>

    <link async rel="stylesheet preload" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" defer>

</head>

<body>
    {% include "./partials/header.html" %}
    <section id="header">
        <img loading="lazy" src="/assets/avatar-lilly.webp" width="256" height="256" alt="Foto Lilly">
        <h1>Olá, eu sou a Lilly e estou ansiosa para fazer parte do seu servidor do Discord!!</h1>
        <div id="header_buttons">
            <a href="/invite" target="_blank" rel="external noreferrer"><button><i class="fa fa-plus"></i> Me
                    Adicione</button></a>

            <a href="/support" target="_blank" rel="external noreferrer"><button style="background-color: #6274b8;"><i
                        class="fa fa-support"></i> Suporte</button></a>

            <a href="/commands" rel="internal"><button style="background-color: #05c063;">&lt;/&gt; Meus
                    Comandos</button></a>
        </div>
    </section>

    <main class="page_content">
        <section class="section_content">
            <h2 class="title_left">Quem é a Lilly?</h2>
            <p>Lilly é apenas um simples bot para Discord criada com o objetivo de ajudar servidores a se tornar um
                lugar muito melhor para todos.</p>
            <br>
            <p>Quer adicionar comandos úteis ao seu servidor? Quer ter mais opções de moderação em seu servidor? Quer
                apenas mais diversão no seu servidor? Então a Lilly é a menina certa para ser adicionada ao seu
                servidor! A Lilly inclui tudo isso e <strong>muita mais funcionalidades legais!</strong></p>
        </section>
        <section class="section_content">
            <h2>Deixe seu servidor turbinado!</h2>
            <p>Com a Lilly seu servidor do Discord vira outro. Com ela funções chatas como punir um usuário ou verificar
                a quantidade de membros em um servidor ficam <strong>muito mais fáceis</strong> com simples comandos que
                <strong>qualquer um pode entender facilmente</strong>.</p>
            <br>
        </section>
        <section class="section_content">
            <h2>Transforme seu servidor em um lugar mais divertido!</h2>
            <p>
                A Lilly traz ao seu servidor que <strong>ajudam e divertem a todos do servidor</strong>. Ela tem comandos
                para todos: <strong>moderadores, administradores, usuários comuns, e todos os outros membros</strong> que tenha em seu servidor!!
            </p>
        </section>
        <section class="section_content">
            <h2>Mas afinal, quais são os comandos da Lilly?</h2>
            <p>A Lilly está em <em>Beta Test</em>, ou seja, ainda virá muita coisa nova pela frente, mas eu já sei o que
                eu quero nela e muitas das coisas que falarei aqui serão adicionadas e/ou já estão em desenvolvimento.
            </p>
            <br>
            <p>Ela é um bot de com vários propósitos, então existem comandos de vários tipos com de <strong>moderação,
                    economia, administração, utilidades, boas-vindas e mais!!</strong> E o melhor, todos os comandos
                estão <strong>com suas permissões corretas, ou seja, só membros autorizados podem executar determinadas
                    funções!!</strong>. <a href="/commands">Veja a lista completa de comandos!</a></p>
        </section>
    </main>

    {% include "./partials/footer.html" %}
    <script src="/scripts/nav_control.js" defer></script>
</body>

</html>
