<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}
    {% include "./partials/defaultCssFiles.html" %}

    <link rel="stylesheet preload" as="style" href="/styles/main.css" defer>
    <link rel="stylesheet preload" as="style" href="/styles/responsive.css" defer>

    <link async rel="stylesheet preload" as="style"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" defer>

</head>

<body>
    {% include "./partials/header.html" %}
    <section id="header">
        <img loading="lazy" src="/assets/avatar-lilly.webp" width="256" height="256" alt="Foto Lilly">
        <h1>Lilly é um bot para o Discord simples, poderoso e cheio de comandos</h1>
        <div id="header_buttons">
            <a href="/invite" target="_blank" rel="external noreferrer"><button><i class="fa fa-plus"></i> Me
                    Adicione</button></a>

            <a href="/support" target="_blank" rel="external noreferrer"><button style="background-color: #6274b8;"><i
                        class="fa fa-support"></i> Suporte</button></a>

            <a href="/commands" rel="internal"><button style="background-color: #05c063;">&lt;/&gt; Meus
                    Comandos</button></a>
        </div>
    </section>

    <main class="page_content">
        <section class="section_content">
            <h2 class="title_left">Quem é a Lilly?</h2>
            <p>Lilly é apenas um simples bot para Discord criada com o objetivo de ajudar servidores a se tornar um
                lugar muito melhor para todos.</p>
            <br>
            <p>Quer adicionar comandos úteis ao seu servidor? Quer ter mais opções de moderação em seu servidor? Quer
                apenas mais diversão no seu servidor? Então a Lilly é a menina certa para ser adicionada ao seu
                servidor! A Lilly inclui tudo isso e <strong>muita mais funcionalidades legais!</strong></p>
        </section>
        <section class="section_content">
            <h2>Deixe seu servidor turbinado!</h2>
            <p>Com a Lilly seu servidor do Discord vira outro. Com ela funções chatas como punir um usuário ou verificar
                a quantidade de membros em um servidor ficam <strong>muito mais fáceis</strong> com simples comandos que
                <strong>qualquer um pode entender facilmente</strong>.</p>
            <br>
        </section>
        <section class="section_content">
            <h2>Transforme seu servidor em um lugar mais divertido!</h2>
            <p>
                A Lilly traz ao seu servidor que <strong>ajudam e divertem a todos do servidor</strong>. Ela tem
                comandos
                para todos: <strong>moderadores, administradores, usuários comuns, e todos os outros membros</strong>
                que tenha em seu servidor!!
            </p>
        </section>
        <section class="section_content">
            <h2>Mas afinal, quais são os comandos da Lilly?</h2>
            <p>A Lilly está em <em>Beta Test</em>, ou seja, ainda virá muita coisa nova pela frente, mas eu já sei o que
                eu quero nela e muitas das coisas que falarei aqui serão adicionadas e/ou já estão em desenvolvimento.
            </p>
            <br>
            <p>Ela é um bot de com vários propósitos, então existem comandos de vários tipos com de <strong>moderação,
                    economia, administração, boas-vindas e mais!!</strong> E o melhor, todos os comandos
                estão <strong>com suas permissões corretas, ou seja, só membros autorizados podem executar determinadas
                    funções!!</strong>. <a href="/commands">Veja a lista completa de comandos!</a></p>
        </section>
        <section class="section_content">
            <h2>Economize com a Lilly</h2>

            <p>Com a Lilly, você tem um <strong>sistema de economia bem completo</strong>. Com ela seu servidor ganha <strong>duas novas
                    moedas</strong>,
                o <strong>DinDin e a Halita</strong> (sendo ela a mais rara de se conseguir). Com essas moedas você pode
                comprar comprar
                itens especiais e até mesmo raros na <strong>lojinha da Lilly</strong>. Além disso, quanto mais dinheiro
                você tiver, mais
                alto você estará no <strong>DinDin Top</strong>. Você também pode fazer <strong>apostas com a
                    Lilly</strong>, transferências para seus
                amigos, e muito mais coisas legais!!</p>
        </section>
        <section class="section_content">
            <h2>Não deixe engraçadinhos impunes</h2>
            <p>Com a Lilly nenhum engraçadinho passa <strong>impune</strong>. A Lilly possui um <strong>sistema de
                    moderação</strong> completo para seu
                servidor, onde você pode <strong>banir usuários, dar mute, expulsá-los e também dar avisos</strong>.</p>
            <br>
            <p>Com o sistema <strong>LCT </strong>(<em>Lista de Contatinhos Teimosos</em>) da Lilly pessoas que
                descompriram minhas regras
                anteriormente não serão aceitas em seu servidor (isso se você quiser é claro). Com este sistema, pessoas
                que foram banidas
                estão <strong>proibidas de usar meus comandos</strong> em servidores que ativaram a <em>LCT</em>.</p>
            <br>
            <p>Servidores que não cumprem regras também são <strong>banidos e perdem o direito de usar a Lilly</strong>,
                assim tirando
                pessoas maldosas de nossa comunidade.</p>
        </section>
        <section class="section_content">
            <h2>Precisa de ajuda? Nós estamos aqui!</h2>
            <p>Caso precise de <strong>qualquer ajuda com a Lilly</strong> nós sempre estaremos aqui para ajudar. A
                Lilly tem um servidor
                de suporte que está <strong>sempre a disposição para ajudar</strong> quem precisa como pessoas que podem
                responder suas
                dúvidas.</p>
            <br>
            <p>Se encontrar um bug ou algo que <strong>impossibilite ou dificulte o uso da Lilly</strong> poderá enviar
                ele para o
                suporte que vai analisar e encaminhar para a equipe de desenvolvimento para ser corrigido <strong>
                    o mais rápido
                    possível
                </strong>.
            </p>
            <br>
            <p>No servidor de suporte do Discord você também fica sabendo em primeira mão as <strong>novidades da
                    Lilly</strong>, correções
                de <strong>bugs, futuros updates, sorteios, eventos e muito mais</strong>.</p>
            <br>
            <p>Caso queira entrar no servidor de suporte do Discord, <a href="/support" target="_blank"
                    rel="noopener noreferrer">basta usar este link</a>.</p>
        </section>
        <section class="section_content">
            <h2>A Lilly está sempre disponível</h2>
            <p>Diferente de muitos bots disponíveis por aí, <strong>a Lilly 24/7 disponível</strong> com tempo de
                resposta sempre abaixo
                de <strong>1 segundo</strong>, fazendo dela um bot com respostas rápidas.</p>
        </section>
        <section class="section_content">
            <h2>A Lilly é 100% Open-Source</h2>
            <p>Sabia que a Lilly é <strong>100% <em>Open-Source</em></strong>? Sim!! Tanto o site, a API REST e o Bot
                então no GitHub. Sendo
                assim, você pode contribuir com o projeto e também pode se inspirar em todo esse projeto maravilhoso que
                é a Lilly.</p>
            <br>
            <p>Não <strong>necessariamente</strong> você precisa contribuir com códigos de programação, a muitas outras coisas que
                podem nos ajudar a trazer mais pessoas para essa comunidade maravilhosa que a Lilly está construindo com
                a ajuda de todos.</p>
            <br>
            <p>e quiser sugerir e/ou adicionar comandos na Lilly você pode enviar um <em>Pull Request</em> para o GitHub da <a
                    href="http://github.com/pedrohenriquebraga/lilly-bot" target="_blank"
                    rel="noopener noreferrer">Lilly Bot</a> (se for uma alteração nos site envie no repositório <a
                    href="http://github.com/pedrohenriquebraga/lilly-website" target="_blank"
                    rel="noopener noreferrer">Lilly Website</a>).</p>
        </section>
        <section class="section_content"></section>
    </main>

    {% include "./partials/footer.html" %}
    <script src="/scripts/nav_control.js" defer></script>
</body>

</html>
