<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "./partials/head.html" %}
    {% include "./partials/defaultCssFiles.html" %}
    <link rel="stylesheet preload" href="/styles/communityTerms.css">
    <link rel="stylesheet preload" href="/styles/responsive.css">
    <link rel="stylesheet preload"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    {% include "./partials/header.html" %}

    <main>
        <section class="terms">
            <h1>Políticas de Privacidade</h1>
            <p style="color: #bfbfbf; text-align: right;">Atualizado em 10/11/2020</p>

            <p>Eu sei que ninguém gosta de ler essas Políticas de Privacidade, mas eu recomendo que leiam para saber
                como usamos os seus dados e também como eles são <strong>armazenados e mantidos.</strong></p>

            <p>Resumidamente, <strong>
                    nós usamos dados como nome, avatar e ID para oferecer um experiência personalizada para
                    cada usuário. As informações são usadas e armazenadas em nosso servidores, mas nós não divulgamos
                    essas
                    informações para outros usuários.
                </strong></p>

            <p><strong>As informações são salvas por tempo indeterminado</strong>, mas esse dados podem ser excluídos sem aviso prévio e
                a qualquer momento.</p>

            <p><strong>
                Ao usar a Lilly você assume toda responsabilidade por eventuais abusos, trapaças, aproveitamentos de
                    bugs/falhas e qualquer outra tentativas de ganhar vantagem na Lilly. O descumprimento dessas e outras
                    regras levará a punições severas sem aviso prévio, podendo levar à exclusão de sua conta da Lilly e de
                    todos os seus associados.
            </strong></p>

            <p>Toda mídia enviada e usada com as funcionalidades da Lilly são de <strong>responsabilidade do autor.</strong></p>

            <p>Você poderá solicitar a exclusão de seus dados a <strong>qualquer momento e por qualquer motivo.</strong></p>

        </section>
    </main>


    {% include "./partials/footer.html" %}
</body>

</html>