<footer>
    <div class="footer_section">
        <h3>Condições e Termos de Uso</h3>
        <a href="/community-terms">Termos de Uso da Comunidade</a><br>
        <a href="/privacy-policy">Políticas de Privacidade</a>
    </div>

    <div class="social_networks">
        <a href="https://github.com/pedrohenriquebraga" target="_blank" rel="external noreferrer"><img loading="lazy" width="30" height="30" src="/assets/github-icon.png" alt="Acesse meu Github"></a>

        <a href="https://youtube.com/gamesantos" target="_blank" rel="external noreferrer"><img loading="lazy" width="30" height="30"
                src="/assets/youtube-icon.png" alt="Acesse meu canal do YouTube"></a>

        <a  href="https://www.instagram.com/pedro_henriquebraga/" target="_blank" rel="external noreferrer"><img loading="lazy" width="30" height="30"
                src="/assets/insta-icon.webp" alt="Acesse meu Instagram"></a>
        <p>&copy; Todos os direitos reservados ao GameSantosBr e seus associados. Copyright 2020. <br> <strong>
            A Lilly não é
                associado a Discord, Inc.
        </strong></p>
    </div>

</footer>