<!-- Global site tag (gtag.js) - Google Analytics -->
<script rel="preload" as="script" src="/scripts/gtag.js" defer></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-P4ZSN2KQRE');
</script>
<script data-ad-client="ca-pub-2195308427635463" src="/scripts/adsbygoogle.js" defer></script>
<meta name="robots" content="index, follow">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="sDN0IaiHaK4Hbaqw3xIIj8K4Agraklgtzvrri7kaNd0" />
<title>{{ title }}</title>
<meta name="description" content="{{ desc }}">
<link rel="canonical" href="https://lilly-website.herokuapp.com/" />
<link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/assets/apple-lilly-icon.png">
<link async rel="stylesheet preload" as="style" href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
    defer>