<header class="">
    <a href="/" id="logo">Lilly</a>
    <i class="fa fa-bars nav_open_button"></i>
    <nav>
        <a class="navigation" href="/"><i class="fa fa-home"></i> Home</a>
        <a class="navigation" href="/commands" rel="internal">&lt;/&gt; Comandos</a>
        <a class="navigation" rel="external noreferrer" target="_blank" href="/support"><i class="fa fa-support"></i>
            Suporte</a>
        <a class="navigation" href="/invite" rel="external noreferrer" target="_blank"><i class="fa fa-plus"></i> Me
            Adicione!</a>
    </nav>
    <script src="/scripts/nav_control.js" defer></script>
</header>