main {
    width: 60%;
    min-width: 320px;
    margin: auto;
    padding: 2.0rem;
    color: #000;
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin-top: 10.0rem;
}

main h1 {
    font-size: 3.0rem;
    text-align: center;
    margin-bottom: 3.0rem;
}

.terms {
    padding: 1.0rem;
}

.terms h2 {
    font-size: 2.5rem;
    margin: 3.5rem 0;
    color: #5264a8;
    text-align: center;
}

.terms ul {
    margin-left: 5.0rem;
}

.terms ul ul {
    margin-left: 3.5rem;
} 

.terms p, li {
    font-size: 2.0rem;
    margin-bottom: 1.5rem;
}

.terms a {
    text-decoration: none;
    color: #0dc468;
    font-weight: 700;
    transition: 200ms;
}

.terms a:hover {
    text-decoration: underline;
    color: #10d371
}

