footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(fit-content + 50px);
    background-color: #576cb8;
    padding: 2.0rem;
}

footer .footer_section {
    text-align: center;
    padding: 1.0rem;
    background-color: #4f62a7;
    width: 100%;
    height: 10.0rem;
    border-radius: 5px;
}

footer .footer_section h3 {
    font-size: 2.2rem;
    margin-bottom: 1.0rem;
}

footer .footer_section a {
    font-size: 1.8rem;
    color: #08d16c;
    margin-top: 0.3rem;
    font-weight: bold;
    text-decoration: none;

    transition: 200ms;
}

footer .footer_section a:hover {
    color: #0add74;
    text-decoration: underline;
}

footer .social_networks {
    width: 100%;
    font-size: 2.0rem;
    text-align: center;
}

footer .social_networks a {
    padding: 0.5rem;
}

footer .social_networks a img {
    width: 35px;
    height: 35px;
    margin-top: 15px;
}
