:root {
    --main-color: #ff0092;
    --secondary-color: #c70071;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eceaea;
}

header {
    position: fixed;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 80px;
    width: 100%;
    margin: auto;
    background-color: var(--main-color);
    z-index: 100;
}

header #logo {
    font-family: "Cookie" ,cursive;
    font-size: 45px;
    margin: auto 10px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header .navigation {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    margin: 2px;

    transition: 200ms;
}

header .navigation:hover {
    color: #f7f3f3;
}

header a > button {
    background-color: var(--secondary-color);
    padding: 15px;
    border-radius: 5px;
    margin-right: 5px;
    border: none;
    outline: none;
}

header nav a button {
   color: white;
   font-weight: 700;
   text-decoration: none;
}

header nav a button:hover {
    border: 1px solid white;
}

section#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    height: 90vh;
    background-color: var(--secondary-color);
    background: linear-gradient(var(--secondary-color), var(--main-color));
}

#header img {
    border-radius: 10px;
    margin: 10px 0 10px 0;
    box-shadow: 6px 2px 5px 0px #00000059;
}

#header #header_buttons {
    margin-top: 10px;
}

#header #header_buttons button {
    background-color: #bb006a;
    color: #ffffff;
    font-weight: bold;
    border: none;
    width: 180px;
    margin-right: 1px;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    outline: none;

    animation: buttons 6s infinite ease-in-out;

    transition: 200ms;
}

#header #header_buttons button:hover {
    border: 0.5px solid white ;
    width: 250px;
}


@keyframes buttons {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(50%);
    }

    75% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0%);
    }
}
