a {
    color: #0add74;
    transition: 200ms;
    text-decoration: none;
}

a:hover {
    color: #08d16c;
    text-decoration: underline;
}

section#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 100%;
    height: 90vh;
    background-color: var(--secondary-color);
    background: linear-gradient(var(--secondary-color), #f10089, #e7389c);
}

#header img {
    border-radius: 10px;
    margin: 1.0rem 0 1.0rem 0;
    box-shadow: 6px 2px 5px 0px #00000059;
}

#header {
    font-size: 1.8rem;
}

#header #header_buttons {
    margin-top: 1.0rem;
}

#header #header_buttons button {
    height: 5.0rem;
    background-color: #bb006a;
    color: #ffffff;
    font-weight: bold;
    border: none;
    width: 18.0rem;
    margin-right: 0.2rem;
    margin-top: 1.0rem;
    padding: 1.5rem;
    border-radius: 5px;
    outline: none;

    transition: 200ms;

    animation: buttons_animation 5s infinite;
}

#header #header_buttons button:hover {
    border: 0.5px solid white;
    box-shadow: 0px 0px 10px 3px white;
}


.page_content {
    width: 90%;
    min-width: 320px;
    height: fit-content;
    margin: 3.0rem auto;
    padding: 5.0rem;
    background-color: #3d3d3d81;
    border-radius: 10px;
}

.page_content .section_content {
    width: 100%;
    height: max-content;
    margin: 1.0rem 0 8.0rem 0;
}

.page_content .section_content h2 {
    font-size: 3.5rem;
    color: #576cb8;
}

.page_content .section_content p {
    font-size: 2.4rem;
    margin-top: 2.0rem;
}